/* default css */
*{
    margin:0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear:both;
}

img{
    max-width: 100%;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align:right;
}
/* header css */
.fixed-width{
    width: 1270px;
    margin: auto;
}
.header{
    background-color: #3498db;
}
.header-left{
    float: left;
    width: 30%;
}
.header-left img{
     width: 67px;
    height: auto;
}
}
.header-right{
    float: right;
    width: 70%;
    
}
.header-right ul{
    text-align: right;
}


.header-right ul li{
      display: inline-block;
    margin-left: -4px;

    
}
.header-right ul li a{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    font-size: 20px;
    display: block;
    line-height: 70px;
    border-right: 1px solid #fff;
    transition: .4s;
}
.header-right ul li a:hover{
    background-color: blue;
}

/* banner site */

.banner{
    background:url(./images/d33.jpg) no-repeat;
    background-size: cover;
    padding: 200px 0px;
}
.banner-caption h2{
    background: rgb(61, 57, 57);
    display: inline;
    border-radius: 5px;
    padding:7px;
    font-size: 30px;
    color: white;
}
.banner-caption h1{

    background: rgb(48, 34, 34,.4);
    max-width: 598px;
    margin: auto;
    margin-top: 37px;
    border-radius: 5px;
}
/* service item */
.about {
    margin: 20px 0px;
}
.my-work h1{
    text-align: center;
}
.my-work2 p{
    text-align: center;
    
}


.service{
    margin-top: 60px;
}

.service-item{    
     
    float: left;
    width: 31.3%;
    margin: auto;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.service-item span{
    display: block;
    width: 50px;
    height: 50px;
    background: blue;
    color: white;
    margin: auto;
    line-height: 3;
    border-radius: 20px 0px 20px;
}

.service-item h3 {
    font-size: 24px;
    font-weight: bold;
}

.service-item p{
    font-size: 15px;
}

/* blog */
.blog-content{
    padding-top: 30px;
}
.blog-left{
    width: 70%;
    float: left;
}
.blog-left img{
    
    float: left;
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 20px;

}
.blog-left p{
    font-size: 17px;
    line-height: 50px;
    margin-top: 20px;
}


.blog-right{
    float: right;
    width: 25%;
}
.blog-right h1{
        text-align: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;

}
.blog-right ul{
    list-style: none;
}
.blog-right ul li{
    padding: 16px;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    transition: .4s;
}

.blog-right ul li:hover{
    background-color:red;
}